{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Page View Report</h2>


<ul>

{% for greeting in greetings %}
    <li>{{ greeting.when }}</li>
{% endfor %}

</ul>

</div>

{% endblock %}


<form action="" target="_blank" method="POST">
{% category_list = ["apple","grape","banana"] %}  
{% for category in category_list %}
  <input type="checkbox" name="{{ category.name }}">
  <label for="{{ category.name }}">{{ category.name }}</label>
{% endfor %}
  <input type="submit" value="Submit">
</form>


